
/* Intégrer une police de caractère personnalisée depuis un fichier */
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf') format("truetype");
}
/* @font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf') format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Italic.ttf') format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.ttf') format("truetype");
  font-style: normal;
  font-weight: 700;
} 
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-BoldItalic.ttf') format("truetype");
  font-style: italic;
  font-weight: 700;
}
*/
/* Les propriétés qui permettent de modifier l'apparence d'un texte. */
p {
  font-size: 20px; /* permet de modifier la taille du texte */
  font-family: 'Raleway', sans-serif; /* serif, sans-serif, cursive, monospace...; */
  font-weight: 400; /* change la graisse (l'épaisseur) de la typographie */
  font-style: normal; /* change le style de typo (normal ou italic) */ 

  text-decoration: line-through; /* normal, underline, overline, line-through, none... */
  text-transform: uppercase; /* casse de la police (lowercase, uppercase, capitalize, none) */
  text-indent: 0px; /* l'espace en début de ligne (positif ou négatif) */
  text-align: justify;
  line-height: 40px; /* l'espace entre les lignes */
  letter-spacing: -1px; /* l'espace entre les caractères */

  /* word-wrap: break-word; */ /* césure */
  white-space: nowrap; /* comportement des espaces, nowrap signifie pas de retour à la ligne */
  
  /* bonus: */
  /*
  text-overflow: ellipsis;
  width: 400px;
  overflow: hidden;
   */
}

h1 {
  font-size: inherit; /* ici on hérite des valeurs précédemment définie par l'utilisateur */
  font-size: initial; /* ici on hérite des valeurs par défaut du navigateur */
}

h1 {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Pacifico', cursive;
  font-size: 60px;
}